<header>
  <h1 class="header-title">
    BlogPersonnel
  </h1>
  <ul class="header-navigation">
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" routerLink="/auth/all-post" routerLinkActive="active">Liste des posts</a>
    </li>
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" routerLink="/auth/new-post" routerLinkActive="active">Publier un post</a>
    </li>
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" style="cursor: pointer" (click)="onLogout()">DECONNEXION</a>
    </li>
    <li class="header-navigation-item" *ngIf="(!isAuth)">
      <a class="header-link" routerLink="/auth/login" routerLinkActive="active">CONNEXION</a>
    </li>
    <li class="header-navigation-item" *ngIf="(!isAuth)">
      <a class="header-link" routerLink="/auth/signup" routerLinkActive="active">INSCRIPTION</a>
    </li>
  </ul>
  <!-- <ul class="header-navigation nav-end">
    <li class="header-navigation-item font-italic">
      <a class="header-link" style="cursor:pointer" (click)="onBackToParts()">RETOUR A L'INDEX</a>
    </li>
  </ul> -->
</header>
