<div style="margin: 20px">
    <form novalidate #form="ngForm">
        <input type="text" class="form-control mb-5" name="title" id="title">
      <!-- <input type="text" class="form-control" name="Test" [(ngModel)]="content"> -->
      <md-editor #md="ngModel" name="Content" (onEditorLoaded)="onEditorLoaded($event)"
      [preRender]="preRender" [postRender]="postRender"
      (onPreviewDomChanged)="onPreviewDomChanged($event)"
      [upload]="doUpload" [(ngModel)]="content" [mode]="mode" [options]="options" required maxlength="600" height="400px"></md-editor>
    </form>
 

    <button class="btn btn-default btn-primary" (click)="onSubmit()">Enregistrer</button>

  
  </div>
<!-- 
  # Hello, Markdown Editor!
```javascript 
function Test() {
	console.log("Test");
}
```
 Name | Type
 ---- | ----
 A | Test
![](http://lon-yang.github.io/markdown-editor/favicon.ico)

- [ ] Taks A
- [x] Taks B
- test

[Link](https://www.google.com) 
-->
